front-end/node_modules/
back-end/node_modules/
.idea/
node_modules/.bin/detect-libc
node_modules/.bin/mkdirp
node_modules/.bin/needle
node_modules/.bin/node-pre-gyp
node_modules/.bin/nopt
node_modules/.bin/rc
node_modules/.bin/rimraf
node_modules/.bin/semver
node_modules/abbrev/
node_modules/ansi-regex/
node_modules/aproba/
node_modules/are-we-there-yet/
node_modules/balanced-match/
node_modules/bcrypt/
node_modules/brace-expansion/
node_modules/chownr/
node_modules/code-point-at/
node_modules/concat-map/
node_modules/console-control-strings/
node_modules/core-util-is/
node_modules/debug/
node_modules/deep-extend/
node_modules/delegates/
node_modules/detect-libc/
node_modules/fs-minipass/
node_modules/fs.realpath/
node_modules/gauge/
node_modules/glob/
node_modules/has-unicode/
node_modules/iconv-lite/
node_modules/ignore-walk/
node_modules/inflight/
node_modules/inherits/
node_modules/ini/
node_modules/is-fullwidth-code-point/
node_modules/isarray/
node_modules/minimatch/
node_modules/minimist/
node_modules/minipass/
node_modules/minizlib/
node_modules/mkdirp/
node_modules/ms/
node_modules/nan/
node_modules/needle/
node_modules/node-pre-gyp/
node_modules/nopt/
node_modules/npm-bundled/
node_modules/npm-normalize-package-bin/
node_modules/npm-packlist/
node_modules/npmlog/
node_modules/number-is-nan/
node_modules/object-assign/
node_modules/once/
node_modules/os-homedir/
node_modules/os-tmpdir/
node_modules/osenv/
node_modules/path-is-absolute/
node_modules/process-nextick-args/
node_modules/rc/
node_modules/readable-stream/
node_modules/rimraf/
node_modules/safe-buffer/
node_modules/safer-buffer/
node_modules/sax/
node_modules/semver/
node_modules/set-blocking/
node_modules/signal-exit/
node_modules/string-width/
node_modules/string_decoder/
node_modules/strip-ansi/
node_modules/strip-json-comments/
node_modules/tar/
node_modules/util-deprecate/
node_modules/wide-align/
node_modules/wrappy/
node_modules/yallist/

*.DS_Store
front-end/build/*
back-end/swagger.json