.nav-bar{
    height: 5%;
    width: 100%;
    z-index: 3;
    background-color: #69585F;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-between;
    align-items: center;

}

.button{
    background-color: white;
}

#site_title{
    font-family: "Rubik";
    font-weight: bold;
    padding-bottom: 1%;
    color: white;
}


#logout_button{
    background-color: whitesmoke ;
}

#upload_button{
    background-color: #F50057;
    margin-right: 3%;
    color: whitesmoke;
}

#buttons{
    display: flex;
    flex-direction: row;
    width: 12%;
    align-items: center;
    justify-content: flex-end;
}

#login_button{
    background-color: #F50057;
    color: whitesmoke;
}

